---
layout: layouts/base.njk
title: Tags
permalink: /tags/
published: true
---
<div class="post">
  <h1 class="post-title">#tags</h1>
  <ul>
    {% for tag in collections.tagList %}
    {% set tagPosts = collections.posts | postsWithTag(tag) %}
    <li class="tag-list">
      <a href="/tags/{{ tag | slugify }}/">#{{ tag }}</a>
      ({{ tagPosts.length }} post{% if tagPosts.length != 1 %}s{% endif %})
    </li>
    {% endfor %}
  </ul>
</div>
