---
layout: layouts/base.njk
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: "/tags/{{ tag | slugify }}/index.html"
published: true
---
<h2>Tag: {{ tag }}</h2>
{% for post in collections.posts %}
  {% if post.data.tags and (tag in post.data.tags) %}
  <article class="post-card h-entry">
    <h3 class="p-name"><a class="u-url" href="{{ post.url }}">{{ post.data.title }}</a></h3>
    <p><time class="dt-published" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></p>
  </article>
  {% endif %}
{% endfor %}
