---
layout: layouts/base.njk
title: Blog
pagination:
  data: collections.posts
  size: 8
  alias: postsPage
permalink: "/blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---
{% import "macros/lists.njk" as lists %}
{% import "macros/pagination.njk" as pager %}
{{ lists.list_pages(postsPage, metadata) }}
{{ pager.paginate(pagination.href.previous, pagination.href.next) }}
