---
layout: layouts/base.njk
permalink: /404.html
title: Page not found
eleventyExcludeFromCollections: true
---
<div class="post">
  <h1 class="post-title">Page not found</h1>
  <p>Sorry, this page does not exist.</p>
  <p>Go back <a href="/">home</a>?</p>
</div>
