{% import "macros/head.njk" as head %}
{% import "macros/header.njk" as header %}
{% import "macros/footer.njk" as footer %}

{% set pageTitle = title or metadata.title %}
{% set pageDescription = description or metadata.description %}
{% set pageUrl = (page.url or '/') | absoluteUrl(metadata.url) %}

<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <title>{{ pageTitle }}</title>
    {{ head.general_meta(pageTitle, pageDescription, metadata, build) }}
    {{ head.structured_data(pageTitle, pageDescription, pageUrl, metadata) }}
    {{ head.fonts() }}
    {{ head.styling(metadata) }}
    {{ head.favicon(metadata) }}
    {{ head.rss(metadata) }}
    {{ head.search_css(enableSearch) }}
  </head>
  <body>
    {% if metadata.fullWidth %}
      {% set container = "container full" %}
    {% elif metadata.center %}
      {% set container = "container center" %}
    {% else %}
      {% set container = "container" %}
    {% endif %}

    <div class="{{ container }}">
      {{ header.header(metadata) }}

      <div class="content">
        {% block main %}
          {{ content | safe }}
        {% endblock %}
      </div>

      {% block pagination %}{% endblock %}

      <footer class="footer">
        <div class="footer__inner">
          {{ footer.copyright(metadata, build) }}
        </div>
        <div class="h-card hidden">
          <a class="p-name u-url" href="{{ metadata.url }}">{{ metadata.title }}</a>
          <img class="u-photo" src="{{ metadata.favicons[0].href }}" alt="{{ metadata.title }}">
          <p class="p-note">{{ metadata.description }}</p>
        </div>
      </footer>
    </div>

    {{ footer.script() }}
  </body>
</html>
