---
layout: layouts/base.njk
---
{% import "macros/pagination.njk" as pagination %}
{% set nav = collections.posts | postNav(page.url) %}
{% set newerUrl = nav.newer.url if nav.newer else null %}
{% set olderUrl = nav.older.url if nav.older else null %}

<article class="post h-entry">
  <header>
    <h1 class="post-title p-name">
      <a class="u-url" href="{{ page.url }}">{{ title }}</a>
    </h1>

    <div class="post-meta">
      <span class="post-date">
        <time class="dt-published" datetime="{{ date | htmlDateString }}">{{ date | readableDate("yyyy.MM.dd") }}</time>
        {% if updated %}
          [Updated: <time datetime="{{ updated | htmlDateString }}">{{ updated | readableDate("yyyy.MM.dd") }}</time>]
        {% endif %}
      </span>

      {% if metadata.showAuthor %}
      <span class="post-author">
        :: <span class="p-author h-card"><a class="p-name u-url" href="{{ metadata.url }}">{{ author or metadata.author }}</a></span>
      </span>
      {% endif %}

      {% if metadata.showTags and tags and tags.length %}
      <span class="post-tags">:: {% for tag in tags %}#<a rel="tag" href="/tags/{{ tag | slugify }}/">{{ tag }}</a>{% if not loop.last %} {% endif %}{% endfor %}</span>
      {% endif %}
    </div>
  </header>

  <div class="post-content e-content">
    {{ content | safe }}
  </div>

  {{ pagination.paginate(newerUrl, olderUrl) }}

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "headline": {{ title | dump | safe }},
      "description": {{ (description or metadata.description) | dump | safe }},
      "datePublished": {{ date | isoDate | dump | safe }},
      "dateModified": {{ (updated or date) | isoDate | dump | safe }},
      "author": {"@type": "Person", "name": {{ (author or metadata.author) | dump | safe }}},
      "mainEntityOfPage": {"@type": "WebPage", "@id": {{ page.url | absoluteUrl(metadata.url) | dump | safe }}},
      "publisher": {"@type": "Organization", "name": {{ metadata.title | dump | safe }} }
    }
  </script>
</article>
